/* start variables */
:root{
  --main-color: #10cab7;
  --letterspacing-larg: -3px; 
  --letterspacing: -.8px; 
  --line-height: 25px;
  --wordspacing:-3px;
  --section-padding: 60px;
  --section-background: #f6f6f6;
}
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */

@media (min-width: 768px) {
  .container {
    width: 750px;
  } 
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Components */
.special-heading h1{
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}
.special-heading > p {
  margin: -30px 0 0;
  font-size: 20px;
  text-align: center;
  color: #797979;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .heading h1{
    font-size:80px !important;
  }
  .heading p{
    margin: -6% auto !important;
    font-size: 13px !important;
  }
  .special-heading + p {
    margin-top: -20px;
  }
 
}
/* End Components */
/* Start Header */
.header {
  padding: 20px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 60px;
}
.header .links {
  position: relative;
}
.header .links:hover .icon span:nth-child(2) {
  width: 100%;
}
.header .links .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.header .links .icon span {
  background-color: #333;
  margin-bottom: 5px;
  height: 2px;
}
.header .links .icon span:first-child {
  width: 100%;
}
.header .links .icon span:nth-child(2) {
  width: 60%;
  transition: .3s;
}
.header .links .icon span:last-child {
  width: 100%;
}
.header .links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: var(--section-background);
  position: absolute;
  right: 0;
  min-width: 200px;
  top: calc(100% + 15px);
  display: none;
  z-index: 1;
}
.header .links ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent var(--section-background) transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}
.header .links:hover ul {
  display: block;
}
.header .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
  transition: var(--main-duration);
}
.header .links ul li a:hover {
  padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}
/* End Header */
.landing{
  background-image: url(https://wallpaperaccess.com/full/3899617.jpg);
  height: calc(100vh - 65px);
  background-size: cover;
  padding-top: 250px;
}
.intro-text{
  text-align: center;
  width:320px;
  max-width: 100%;
  margin: 0 auto;
}
.landing .intro-text h1 {
  color: var(--main-color);
  margin: 0;
  font-weight: bold;
  font-size: 50px;
  line-height: 90px;
  letter-spacing: -3px;
}
.landing .intro-text p {
  letter-spacing: -0.8px;
  word-spacing: -3px;
  line-height: 25px;
}
.features{
  background-color:var(--section-background);
  padding-top: 60px;
  padding-bottom: 60px;
}
.features .container{
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
.features .feat{
  padding: 20px;
  text-align: center;
}

.features .feat i{
 color: var(--main-color);
 font-size: 50px;
}
.features .feat h3{
 text-transform: capitalize;
 font-weight: 400 !important;
 word-spacing: var(--wordspacing);
 letter-spacing: var(--letterspacing);
}
.features .feat p{
  word-spacing: -2px;
 letter-spacing: var(--letterspacing);
 line-height: var(--line-height);
 font-size: 14px;
}
.features .feat:nth-of-type(2){
  box-shadow: 2px 4px 7px #ddd;
}
/* end of features  */
/* start services  */
/* light heading  */
.heading{
  padding: 20px;
}
.heading h1{
  font-size: 120px;
  opacity: 10%;
  line-height: 90px;
  text-align: center;
  margin: 4px;
  font-weight: 400;
  letter-spacing: -5px;
}
.heading  p{
  text-align: center;
  margin: -7px -50px 0 0;
  font-size: 20px;
  color: #666666;
  letter-spacing: -2px;
  word-spacing: -.5px;
}
.services{
  background-color:#ffffff;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.services .container{
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}
.services-elements {
 display: flex;
 margin-bottom: 40px;
}
@media (max-width: 767px) {
 .services-elements {
   display: flex;
   flex-direction: column;
   text-align: center;
 }
}
.container i{
  color: var(--main-color);
  font-size: 30px;
  flex-basis: 60px;
 }
 .services-elements .text{
  flex: 1;
 }
.services-elements p{
  line-height: var(--line-height);
}
.services-elements h3{
  margin: 0 0 20px;
}
/* .section3{
  display: flex;
  justify-content: center;
  align-items: flex-end;
} */
.container .section3 .shape1{
  text-align: center;
  position: relative;
}
 .section3 .shape1 img{
  width: 270px;
  z-index: 3;
  position: relative;
  box-shadow: 1px 1px 6px #000000;
 }
.section3 .shape1::before{
  content: "";
  width: 90px;
  height: calc(100% + 70px);
  position: absolute;
  right: 0px;
  background-color: rgb(44, 71, 85);
  top: -9%;
  /* z-index: -1;*/
 }
 @media (max-width: 1000px){
  .container .section3 .shape1{
    display: none;
  }
 }
 /* end services */
 /* start portfolio */
 .portfolio{
  background-color: var(--section-background);
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
 }
 .portfolio .portfolio-content{
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 60px;
 }
 .portfolio .portfolio-content .card{
  background-color: white;
 }
  .card img{
  max-width: 100%;
 }
 .card .info{
  padding: 20px;
 }
 .card .info h3{
  margin: 0;
 }
 .card .info p{
color: #777;
line-height: var(--line-height);
 }
 /* end portfolio */
 /*  start about  */
 /*  start about  */
 /*  start about  */
 .about{
  padding-top: var(--section-padding);
  padding-bottom: calc(var(--section-padding) + 60px);
 }
 .about-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 }
 .about .about-content .image{
  position: relative;
  width: 250px;
  height: 375px;
 }
 .about .about-content .image::before{
  content: "";
  position: absolute;
  background-color: #d5d7d8;
  width: 40%;
  height: calc(100% + 60px);
  top: -34px;
  left: -20px;
  z-index: -1;
 }
 .about .about-content .image::after{
  content: "";
  position: absolute;
  width: 120px;
  height: 300px;
  border-left: 60px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  z-index: -1;
  right: -150px;
  top: -40px;
 }
 .about .about-content .image img{
  max-width: 100%;
 }
 .about .about-content .text{
  flex-basis: calc(100% - 500px);
 }
 .about .about-content .text p:first-of-type{
  font-weight: bold;
  line-height: var(--line-height);
  margin-bottom: 50px;
 }
 .about .about-content .text hr{
  width: 50%;
  display: inline-block;
  border-color: var(--main-color);
 }
 .about .about-content .text p:last-of-type{
  line-height: var(--line-height);
  color: #777;
 }
 /*  end about  */
 /*  start contact  */
 .contact{
  background-color: var(--section-background);
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
 }
 .contact .info{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
 }
 .contact .info .label{
  font-size: 30px;
  font-weight:  800;
  color: rgb(44, 71, 85);
  letter-spacing: var(--letterspacing);
  margin-bottom: 15px;
 }
 .contact .info .link {
  display: block;
  font-size: 35px;
  font-weight: 800;
  color: var(--main-color);
  text-decoration: none;
 }
 .contact .info .social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 16px;
}
.contact .info .social i{
  margin-left: 10px;
  color: rgb(44, 71, 85);
}
 /*  end contact  */
 /* start footer */
 .footer{
  background-color: rgb(44, 71, 85);
  color: white;
  padding: 30px 10px;
  text-align: center;
  font-size: 18px;
 }
 .footer span{
  font-weight: bold;
  color: var(--main-color);
 }